<section class='signup'>
<div class='signupp'>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: "Enter your name", class: "inputs" %>
  </div>
  <div class="field">
    <%= f.text_field :bio, autofocus: true, placeholder: "Enter your bio", class: "inputs" %>
  </div>
  <div class="field">
    <%= f.text_field :photo, autofocus: true, placeholder: "Enter your picture", class: "inputs" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email", class: "inputs" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Enter your password", class: "inputs" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "inputs" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "inputs" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
</section>