<section>
#   <img src="<%=@user.Photo%>">
  <div>
    <h2><%=@user.Name%></h2>
    <p>Number of posts: <%=@user.PostsCounter || 0%></p>
  </div>
  <div>
    <h2>Bio</h2>
    <p><%=@user.Bio%></p>
  </div>
  <%@user.latest_three_posts.each do |post| %>
  <div>
    <%# post title h2 %>
    <h2><%=post.Title%></h2>
    <%# post text p %>
    <p><%=post.Text%></p>
  </div>
  <%end%>
</section>