<div>
# <img src="<%=@user.Photo%>">
<div>
  <h2><%=@user.Name%></h2>
  <p>Number of posts: <%=@user.PostsCounter || 0%></p>
  </div>
</div>

<% @user_posts.each do |post| %>
<div>
<h2><%=post.Title%></h2>
<p><%=post.Text%></p>
<p>Comments: <%=post.CommentsCounter || 0 %>, Likes: <%=post.LikesCounter || 0 %></p>
</div>

<div>
<% post.latest_five_comments do |comment| %>
<p><%= comment.author.name %>: <%= comment.text %></p>
<% end %>
</div>
<%end%>