<section class="user-profile center">
<div class="user-card center">
  <img src="<%=@user.Photo%>" alt="User profile">
  <div>
    <h2><%=@user.Name%></h2>
    <p>Number of posts: <%=@user.PostsCounter || 0%></p>
  </div>
</div>

<% @user_posts.each do |post| %>
<div class="post-card">
  <h2><%=post.Title%></h2>
  <p><%=post.Text%></p>
  <h5>Comments: <%=post.CommentsCounter || 0 %>, Likes: <%=post.LikesCounter || 0 %></h5>
</div>

<div class="comment-container">
  <% post.latest_five_comments.each do |comment| %>
    <p><%= comment.author.Name %>: <%= comment.Text %></p>
  <% end %>
</div>
<%end%>
</section>