<section class="user-profile center">
  <div class="post-card">
    <h2><%= @post.title%> by <%= @post.author.name%></h2>
    <p><%= @post.text%></p>
    <h5>Comments: <%= @post.comment_counter%> likes: <%= @post.likes_counter %></h5>
    <%= render 'shared/like' %>
  </div>
<div class="comment-container">
    <% @post.comments.includes([:author]).each do |comment| %>
     <p><%= comment.author.name%>: <%= comment.text %></p>
     <% if can? :destroy, @post %>
      <%= form_with(model: @comment, url: user_post_comment_path(params[:user_id], @post), method: :delete, data: { confirm: "Are you sure?" }) do |form| %>
        <%= form.hidden_field :comment_info, value: "#{comment.id}" %>
        <%= form.submit "Destroy Comment" %>
      <% end %>
     <% end %>
    <%end%>
<a href=<%="/users/#{params[:user_id]}/posts/#{@post.id}/comments/new"%>>Comment</a>
<% if can? :destroy, @post %>
 <%= form_with(model: @post, url: user_post_path(params[:user_id], @post), method: :delete, data: { confirm: "Are you sure?" }) do |form| %>
  <%= form.submit "Destroy Post" %>
<% end %>
<% end %>
<%# <%= link_to "Destroy Post", "/users/#{params[:user_id]}/posts/#{@post.id}", method: :delete, data: { confirm: "Are you sure?" } %> 
<%# user_post_path(params[:user_id], @post) %>
</div>
</div>